body {
  font-family: Montserrat;
  color: #5A5A5A;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  color: #151515; }

img {
  width: 100%;
  height: auto; }

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    .social-list ul li {
      margin: 0 10px; }
      .social-list ul li a {
        color: white;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .social-list ul li a:hover {
          color: #1079F5; }
  .social-list.header-social a {
    color: #C4C4C4; }
    .social-list.header-social a:hover {
      color: #1079F5; }
  @media (max-width: 992px) {
    .social-list {
      margin-top: 20px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

.main {
  position: relative; }

.main__header .top-panel {
  padding: 20px 0;
  background-color: #151515; }
  .main__header .top-panel .top-panel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    @media (max-width: 992px) {
      .main__header .top-panel .top-panel-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .main__header .top-panel .info-block-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .main__header .top-panel .info-block-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .main__header .top-panel .info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px; }
    .main__header .top-panel .info-block i {
      font-size: 20px;
      color: #1079F5;
      margin-right: 10px; }
    .main__header .top-panel .info-block span {
      font-size: 16px;
      line-height: 24px;
      color: white;
      font-weight: 300; }
    @media (max-width: 992px) {
      .main__header .top-panel .info-block {
        margin-top: 10px; } }
.main__header .main-panel {
  padding: 35px 0;
  background-color: white; }
.main__header .main-panel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .main__header .main-panel-inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
.main__header .logo {
  max-width: 155px; }
  .main__header .logo a {
    display: block; }
  .main__header .logo img {
    width: 100%; }
  @media (max-width: 992px) {
    .main__header .logo {
      margin-bottom: 20px; } }
.main__header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; }
  .main__header .menu ul li {
    margin: 0 15px; }
    .main__header .menu ul li a {
      color: #151515;
      font-weight: 600;
      line-height: 26px;
      font-size: 14px;
      line-height: 1px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .main__header .menu ul li a:hover {
        color: #1079F5;
        text-decoration: none; }

.main__footer {
  background-color: #1E1E1E; }
  .main__footer h6 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500; }
  .main__footer .logo {
    max-width: 155px; }
    .main__footer .logo a {
      display: block; }
    .main__footer .logo img {
      width: 100%; }
    @media (max-width: 992px) {
      .main__footer .logo {
        margin-bottom: 20px; } }
  .main__footer .row {
    padding: 80px 0px; }
  .main__footer .info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: row;
        -ms-flex-pack: row;
            justify-content: row;
    margin-top: 30px; }
    .main__footer .info-block i {
      font-size: 20px;
      color: #1079F5;
      margin-right: 10px; }
    .main__footer .info-block .address {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .main__footer .info-block .phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .main__footer .info-block span {
      font-weight: 300;
      line-height: 24px;
      font-size: 16px;
      color: #A3A3A3; }
  .main__footer .news {
    margin-top: 30px; }
    .main__footer .news p {
      color: #FFFFFF;
      font-size: 18px;
      margin-bottom: 0;
      font-weight: 500; }
    .main__footer .news span {
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px; }
  .main__footer .links {
    margin-top: 30px; }
    .main__footer .links ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      .main__footer .links ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 600; }
        .main__footer .links ul li a {
          color: white;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          font-size: 14px;
          line-height: 31px;
          text-transform: uppercase; }
          .main__footer .links ul li a:hover {
            color: #1079F5; }
  .main__footer .row__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0px; }
    .main__footer .row__inner span {
      font-weight: 300;
      line-height: 29px;
      font-size: 16px;
      color: #A3A3A3; }
  .main__footer .footer_inner {
    background: #151515; }
